<?xml version="1.0" ?>

<launch>
	
    <param command="$(find xacro)/xacro $(find aiscbot_descriptioin)/urdf/aisc.xacro" name="robot_description"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

    <include file="$(find ydlidar_ros)/launch.myS2.launch" />

    <!-- <include file="$(find aiscbot_firmware)/launch/aisclidar.launch" /> -->
    
    <node name="diff" pkg="aiscbot_firmware" type="diff.py" />
 
</launch>
