<launch>
  <arg default="$(find aiscbot_description)/urdf/aiscbot.xacro" name="model"/>
  <arg default="false" name="gui"/>
  <arg default="$(find aiscbot_description)/launch/urdf.rviz" name="rvizconfig"/>
  
  <param command="$(find xacro)/xacro $(arg model)" name="robot_description"/>
  <param name="use_gui" value="$(arg gui)"/>
  
  
  
  <node args="-d $(arg rvizconfig)" name="rviz" pkg="rviz" required="true" type="rviz"/>
</launch>
