<?xml version="1.0" ?>

<launch>
  <!-- Arguments -->
  <!-- <arg name="map_file" default="/home/shubhu/catkin_ws/src/aiscbot/aiscbot_navigation/maps/pmap.yaml"/>   -->
  <arg name="map_file" default="$(find rvbot_navigation)/maps/my_map.yaml"/>  
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!--<node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" args="-resolution 0.01" /> -->

  

  <!-- AMCL -->
  <include file="$(find aiscbot_navigation)/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find aiscbot_navigation)/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find aiscbot_navigation)/rviz/aiscbot_navigation.rviz"/>
  </group>
  
</launch>
